header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: brown;
}
 #nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
 }
 .nav-item a {
    text-decoration: none;
    color: brown;
    font-weight: 600;
 }

 .nav-item.active{
    color: black;
    border-bottom: 2px solid black;
}